/* ----------------
    Font Styles
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


/* --------------
    Root Styles
----------------- */
:root {
    --primary-color: #0090F1;
    --secondary-color: rgba(14, 179, 255, 0.1);
    --alternate-color: #E8F7FF;
    --text-primary-color: #131313;
    --text-secondary-color: #424242;
    --text-third-color: #727272;
    --primary-font: 'Manrope', sans-serif;
    --secondary-font: 'Comfortaa', cursive;
}

/* -----------------
    Global Styles
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
}

/* ---------------- 
    Navbar Styles
--------------------*/
header {
    background-color: var(--secondary-color);
    margin-bottom: 85px;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

/* -------------------------
    Text With Button Styles
 ---------------------------- */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 100px;
}

.title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    width: 50%;
}

.title-text h3 {
    font-size: 64px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.title-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

/* --------------------
    Banner Styles 
------------------------ */
.banner-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 45px;
}

/* --------------------------
    Feature Container Styles
----------------------------- */
.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 130px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 24px;
    width: 50%;
}

.feature-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feature-content h3>span {
    color: var(--text-third-color);
}

.feature-content h3 .unique {
    color: var(--primary-color);
}

.feature-content h3 {
    font-size: 45px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.feature-content p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ----------------------------------
    Feature Second Container Styles 
------------------------------------- */
.second-feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
}

.text-box-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.title-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-box h3 {
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.title-box p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

.box-container .single-box {
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.single-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-box h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.single-box p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.single-image {
    width: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 150px;
    right: 50px;
    bottom: -50px;
}

.btn-unique {
    font-size: 65px;
    font-weight: 700;
    font-family: var(--primary-font);
}

.button .small {
    font-size: 25px;
    font-weight: 500;
    font-family: var(--primary-font);
}

/* ---------------------
    Some Facts Styles 
------------------------ */
.facts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 180px;
}

.facts-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 75%;
    margin: auto;
}

.facts-text h3 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.facts-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 124px;
}

.icon-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    width: 232px;
    height: 232px;
}

.icon-box div img {
    padding-bottom: 10px;
}

.icon-box div h3 {
    padding-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

.icon-box div p {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.icon-box div:hover {
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.1);
    background: rgba(0, 145, 241, 0.5);
    border: 0;
}

/* -------------------
    Sponsors Styles
---------------------- */
.sponsors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 50px;
    margin-bottom: 130px;
}

.sponsor-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sponsor-title h3 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.sponsor-title p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.sponsor-logo {
    display: flex;
    gap: 124px;
    justify-content: center;
    align-items: center;
}

/* ------------------
    Subscribe Styles
--------------------- */
.subscription {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    padding: 50px 0;
    background: var(--alternate-color);
    width: 70%;
    margin: 0 auto 130px auto;
}

.form-text {
    text-align: center;
}

.form-text h1 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.form-text h1>span {
    color: #0090F1;
}

.form-text p {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-third-color);
}

.subscription div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-input form input[Placeholder="Email Address"] {
    border: 0;
    border-radius: 5px;
    padding: 16px 160px 16px 16px;
    font-size: 20px;
    font-weight: 600;
}

/* ----------------
    Footer Styles 
--------------------*/
footer {
    background-color: var(--alternate-color);
}

.footer-text {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

.footer-text p {
    padding: 0 16px;
}

/* Mobile Device Responsive */
@media only screen and (max-width: 576px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .btn-primary {
        font-size: 12px;
    }

    .nav-container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
        padding-top: 28px;
    }

    .nav-title {
        font-size: 18px;
    }

    .nav-items ul {
        flex-direction: column;
        gap: 24px;
    }

    .nav-items ul li a {
        font-size: 14px;
    }

    .intro-container {
        margin-top: 50px;
    }

    .title-text {
        width: 100%;
    }

    .title-text h3 {
        font-size: 40px;
    }

    .title-text p {
        font-size: 16px;
        padding: 0 16px;
    }

    .banner-container div img {
        width: 100%;
        padding: 0 16px;
    }

    .feature-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .image-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .feature-content {
        text-align: center;
        padding: 0 16px;
        width: 100%;
    }

    .feature-content h3 {
        font-size: 32px;
    }

    .feature-content p {
        font-size: 16px;
    }

    .feature-text {
        gap: 16px;
    }

    .second-feature-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 16px;
    }

    .text-box-container {
        width: 100%;
    }

    .title-box h3 {
        font-size: 32px;
    }

    .single-image img {
        width: 100%;
    }

    .button {
        position: relative;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .btn-unique {
        font-size: 40px;
    }

    .button .small {
        font-size: 20px;
    }

    .facts-container {
        gap: 50px;
        text-align: center;
        padding: 0 16px;
    }

    .facts-text {
        width: 100%;
    }

    .facts-text h3 {
        font-size: 32px;
    }

    .icon-box {
        flex-direction: column;
        gap: 64px;
    }

    .icon-box div {
        width: 100%;
        height: 100%;
        padding: 16px 16px;
    }

    .icon-box div img {
        padding-bottom: 10px;
    }

    .icon-box div h3 {
        font-size: 32px;
    }

    .icon-box div p {
        font-size: 16px;
    }

    .sponsors {
        grid-row-gap: 32px;
        margin-bottom: 130px;
        padding: 0 16px;
        text-align: center;
    }

    .sponsor-title h3 {
        font-size: 32px;
    }

    .sponsor-logo {
        flex-direction: column;
        gap: 64px;
    }

    .subscription {
        width: 100%;
        padding: 16px;
        background: none;
    }

    .form-text {
        text-align: center;
    }

    .form-text h1 {
        font-size: 24px;
    }

    .form-input form input[Placeholder="Email Address"] {
        width: 100%;
        font-size: 16px;
        background-color: var(--alternate-color);
    }

    .footer-text {
        padding: 20px 0;
        font-size: 16px;
    }
}