/* ----------------
    Font Styles
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


/* --------------
    Root Styles
----------------- */
:root {
    --primary-color: #0090F1;
    --secondary-color: #E0EFFF;
    --text-primary-color: #131313;
    --text-secondary-color: #424242;
    --text-third-color: #727272;
    --primary-font: 'Manrope', sans-serif;
    --secondary-font: 'Comfortaa', cursive;
}

/* -----------------
    Global Styles
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
}

/* ---------------- 
    Navbar Styles
--------------------*/
header {
    background-color: var(--secondary-color);
    margin-bottom: 85px;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

/* -------------------------
    Text With Button Styles
 ---------------------------- */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 100px;
}

.title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    width: 50%;
}

.title-text h3 {
    font-size: 64px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.title-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

/* --------------------
    Banner Styles 
------------------------ */
.banner-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 45px;
}

/* --------------------------
    Feature Container Styles
----------------------------- */
.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 130px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 24px;
    width: 50%;
}

.feature-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feature-content h3>span {
    color: var(--text-third-color);
}

.feature-content h3 .unique {
    color: var(--primary-color);
}

.feature-content h3 {
    font-size: 45px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.feature-content p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ----------------------------------
    Feature Second Container Styles 
------------------------------------- */
.second-feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
}

.text-box-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.title-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-box h3 {
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.title-box p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

.box-container .single-box {
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.single-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-box h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.single-box p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.single-image {
    width: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 150px;
    right: 50px;
    bottom: -50px;
}

.btn-unique {
    font-size: 65px;
    font-weight: 700;
    font-family: var(--primary-font);
}

.button .small {
    font-size: 25px;
    font-weight: 500;
    font-family: var(--primary-font);
}

/* ---------------------
    Some Facts Styles 
------------------------ */
.facts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 180px;
}

.facts-text {
    display: flex;
    flex-direction: column;
    /* justify-content: start;
    align-items: flex-start; */
    gap: 24px;
    width: 75%;
    margin: auto;
}

.facts-text h3 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.facts-text p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 124px;
}

.icon-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    width: 232px;
    height: 232px;
}

.icon-box div img {
    padding-bottom: 10px;
}

.icon-box div h3 {
    padding-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-secondary-color);
}

.icon-box div p {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

/* -------------------
    Sponsors Styles
---------------------- */
.sponsors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 50px;
    margin-bottom: 130px;
}

.sponsor-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sponsor-title h3 {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--text-primary-color);
}

.sponsor-title p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-third-color);
}

.sponsor-logo {
    display: flex;
    gap: 124px;
    justify-content: center;
    align-items: center;
}

/* ----------------
    Footer Styles 
--------------------*/
footer {
    background-color: var(--secondary-color);
}

.footer-text {
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--text-secondary-color);
}